<div class="alert alert-info" role="alert" *ngIf="loading">
  <strong>Info</strong> We are saving figure, please wait...
</div>
<div
  class="alert alert-danger"
  role="alert"
  *ngIf="error && submitted && !loading"
>
  <strong>Error!</strong> We are unable to add new figure. Please try again
  later.
</div>
<div
  class="alert alert-success"
  role="alert"
  *ngIf="!error && submitted && !loading"
>
  <strong>Success!</strong> Figure saved successfully
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Figure Name</label>
      <ng-select
        [items]="figures"
        [addTag]="addTag"
        [hideSelected]="true"
        bindLabel="name"
        formControlName="fName"
      >
        <ng-template ng-tag-tmp let-search="searchTerm">
          Create new figure: {{ search }}
        </ng-template>
      </ng-select>
      <small
        *ngIf="form.controls['fName'].valid || !form.controls['fName'].dirty"
        >Pick figure from list or add new</small
      >
      <div
        *ngIf="!form.controls['fName'].valid && form.controls['fName'].dirty"
      >
        <small
          *ngIf="form.controls['fName'].hasError('required')"
          class="text-danger"
          >Field is required!</small
        >
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Calculation Name</label>
      <input type="text" formControlName="cType" class="form-control" />
      <div
        *ngIf="!form.controls['cType'].valid && form.controls['cType'].dirty"
      >
        <small
          *ngIf="form.controls['cType'].hasError('required')"
          class="text-danger"
          >Field is required!</small
        >
      </div>
    </div>
    <div class="form-group col-md-4" style="min-height: 94px">
      <label>Expression</label>
      <input type="text" formControlName="exp" class="form-control" />
      <div *ngIf="!form.controls['exp'].valid && form.controls['exp'].dirty">
        <small
          *ngIf="form.controls['exp'].hasError('required')"
          class="text-danger"
          >Field is required!</small
        >
        <small
          *ngIf="form.controls['exp'].hasError('isNotExp')"
          class="text-danger"
          >Please check if expression is correct</small
        >
      </div>
      <!-- <small>Please separate symbols, brackets and operations by spaces</small> -->
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Submit
  </button>
</form>
