<form [formGroup]="form">
  <div class="form-group">
    <label for="figure">Figure</label>
    <select formControlName="figure">
      <option value="" disabled>Please choose figure</option>
      <option *ngFor="let fig of figures">{{ fig }}</option>
    </select>
  </div>
  <div class="form-group">
      <label for="calcType">Calc type</label>
      <ng-container *ngFor="let calc of calcType">
        <input type="radio" formControlName="calcType" [value]="calc._id" />
        {{ calc.type }}
      </ng-container>
    </div>
</form>

<router-outlet></router-outlet>
