nav {
  background-color: #8DCAFF;
  box-sizing: border-box;

  .nav-item {

    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width 0.5s ease, background-color 0.5s ease;
    }

    &.active {
      a {
        color: rgb(0, 0, 0);
      }

      &:after {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .nav-link {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;

    &:hover {
      color: rgb(0, 0, 0);
    }
  }
}
